body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background: #2081c3;;
  padding: 20px 15px;
  margin-bottom: 25px;
}

nav > a {
  text-decoration: none;
  color: white;
  padding: 20px 15px;
}

.buttons {
  display:flex;
  flex-direction: column;
  margin: auto;
}

.buttons > a {
  background: #2081c3;;
  color: white;
  padding: 20px 15px;
  margin-top: 20px;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  width: 200px;
  justify-content: center;
  align-self: center;
}

#beerimg {
  width: 300px;
  display: block;
  margin: auto;
  padding: 50px 0px;
}

/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/